body{
    font-family: 'Scope One', serif;
    background-color: #fffdf7;
    color: #313639;
    margin: 7% 10%;
}

div{
    padding: 5%;
}

h1{
    font-size: 50px;
    line-height: 90%;
    padding-top: 15%;
}

.navbar{
    margin: 0 5% 10% 5%;
    background-color: #fffdf7;
}

.container{
    text-align: center;
}

h2{
    padding-top: 100px;
    padding-bottom: 20px;
}

p{
    font-size: 17px;
}

#chinese{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
}

#contact{
    text-align: center;
}

li{
    font-size: 17px;
    list-style-position: outside;
}

a{
    color: #3d4c51;
    text-decoration: underline;
}

a:hover{
    color: #313639;
}

svg{
    width: 100%;
    margin: 30px auto;
}

.highlight{
    background-color: #FFC107;
}

.small-highlight{
    background-color: #ffecb3;
}