body{
    font-family: 'Scope One', serif;
    background-color: #fffdf7;
    color: #313639;
    margin: 7% 10%;
}

div{
    padding: 5%;
}

h1{
    font-size: 60px;
    line-height: 80%;
    padding-bottom: 30px;
}

h2{
    padding-bottom: 20px;
}

p{
    font-size: 16px;
}

#chinese{
    font-family: 'Noto Sans TC', sans-serif;
}

#contact{
    text-align: center;
}

li{
    font-size: 16px;
    list-style-position: outside;
    text-indent: -1.4em;
    padding-left: 1.4em;
}

a{
    color: #3d4c51;
    text-decoration: underline;
}

a:hover{
    color: #313639;
}

svg{
    width: 100%;
    margin: 30px auto;
}

.highlight{
    background-color: #FFC107;
}

.small-highlight{
    background-color: #ffecb3;
}